.button {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px 16px;
    transition: 300ms;
}

/* Primary */

.primary {
    background-color: black;
    color: white;
    font-weight: 100;
}

.primary:hover {
    background-color: pink;
    color: black;

}

.primary:active {
    background-color: white;
    color: black;
}

/* Secondary */

.secondary {
    background-color: white;
    border: 1px solid grey;
    color: black;
    font-weight: 600;
}

.secondary:hover {
    background-color: #06F1C4;
}


.secondary:active {
    background-color: white;
    color: black;
}

.button-action {
    background-color: black;
    color: white;
}

.button-action:hover {
    background-color: pink;
    color: black;
}

/* Toggle */

.toggle {
    background-color: white;
    border: 1px solid grey;
    color: grey;
    font-weight: 400;
}

.toggle:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: 400;
}

/* Browse */

.browse-button {
    color: unset;
    cursor: pointer;
    font-weight: 600;
}

.browse-button:hover {
    color: black;
}

/* Property type selector */

.type-selector {
    background-color: white;
    filter: saturate(0);
    cursor: pointer;
    opacity: 0.56;
    border: grey 1px solid;
    border-radius: 4px;
    padding: 24px;
    text-align: center;
}

.type-selector:hover {
    background-color: pink;
    filter: saturate(1);
    opacity: 1;
}

.type-selector.selected {
    filter: saturate(1);
    opacity: 1;
    border: black 2px solid;
}