.button {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px;
}

.primary {
    background-color: black;
    color: white;
    font-weight: 100;
}

.primary:hover {
    background-color: pink;
    color: black;

}

.primary:active {
    background-color: white;
    color: black;
}

.secondary {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: 600;
}

.secondary:hover {
    filter: brightness(1.2);
}


.secondary:active {
    background-color: white;
    color: black;
}

.button-action {
    background-color: black;
    color: white;
}

.button-action:hover {
    background-color: pink;
    color: black;
}

.browse-button {
    color: unset;
    cursor: pointer;
}

.browse-button:hover {
    color: black;
}