.filter-box {
    background-color: white;
    border-radius: 8px;
    z-index: 15;
    box-shadow: 0px 0px 0px 0px none;
    width: calc(100% - 4px);
    border: 1px solid rgb(181, 181, 181);

}

.filter-box:hover {
    box-shadow: 0px 0px 8px 0px lightgray;
}

.filter-box.selected {
    border: #50554A 2px solid;
}

.filter-header {
    margin: 0px 4px 8px 4px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.update-filter-button {
    margin: 8px;
    width: calc(100% - 16px);
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
}

.update-filter-button:hover {
    background-color: pink;
    color: black;
}

.sort-by-button {
    cursor: pointer;
}

.sort-by-button:hover {
    color: black;
}

.order-option {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.order-option:hover {
    background-color: lightgray;
    color: black;
}